@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Source+Serif+4&display=swap');
body{
	font-family: 'Poppins', sans-serif;
	background-color: #0099ff;
}
.container{
	width: 650px;
	height: auto;
	background-color: #eee;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.base{
	width: 100%;
	margin: 0;
	overflow: hidden;
	display: block;
	float: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.block{
	width: 135px;
	padding: 5px 10px;
	margin-left: 10px;
	display: inline-block;
}
.enter>h4{
	font-size: 36px;
	text-align: center;
	margin-top: 0px;
	color: navy;
}
.enter{
	padding-top: 20px;
}
.title{
	font-size: 20px;
	text-align: left;
	line-height: 0.5;
	letter-spacing: 0.5px;
	word-spacing: 3px;
	color: #1073d0;
}
input[type=text]{
	width: 140px;
	margin: auto;
	outline: none;
	min-height: 30px;
	border: 2px solid #f7f7f7;
	padding: 12px;
	background-color: #f7f7f7;
	border-radius: 2px;
	color: #1073d0;
	font-size: 17px;
}
input[type=text]:focus{
	background-color: #ffffff;
	border: 2px solid #00ff99;
	outline: none;
}
input[type=button]{
	width: 380px;
	margin-left: 35%;
	margin-top: 40px;
	outline: none;
	border: none;
	border-radius: 2px;
	background-color: #0761b6;
	color: #ffffff;
	padding: 15px;
	text-align: center;
	font-size: 16px;
}
input[type=button]:hover{
	background-color: #003669;
}
#age{
	display: block;
	margin: 10px;
	margin-top: 35px;
	padding: 10px;
	padding-bottom: 20px;
	overflow: hidden;
	font-size: 23px;
	color: navy;
}